spring:
  cloud:
    gateway:
      routes:
        - id: QUIZ-SERVICE
          uri: lb://QUIZ-SERVICE
          predicates:
            - Path=/api/quizzes/**
            - Path=/api/test/**
server:
  port: 8083
